body { background-color: bisque}

h1 { text-align: center;
   color:darkred;
    font-size:30px; }

h2 {color:darkred;
text-align: center}

body {padding-left: 15%;
    padding-right:15%}

p { font-size: 20px}

a { font-size: 25px}

.supplies {float:right}

.box {float:right}

li {font-size: 17px}
